body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
    margin: 0;
    padding: 0;
}

.menu-container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #ffc107;
}

header h2 {
    margin: 0;
    font-size: 1.5em;
    color: #ffc107;
}

.menu-section {
    margin-bottom: 20px;
}

.menu-section h3 {
    font-size: 2em;
    color: #f44336;
    border-bottom: 2px solid #ffc107;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.menu-section ul {
    list-style: none;
    padding: 0;
}

.menu-section ul li {
    font-size: 1.2em;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}

.menu-section ul li span {
    font-weight: bold;
    color: #ffc107;
}
hero{
    background: url(img/hero-front-page-bg.jpg) center;
    background-size: cover;
    height: 100vh;
  }
  
  
  header.main-header{
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 9999;
    }
           .wrap-logo-header {
            display: flex;
            align-items: center;
        }
        .logo-header img {
          margin-right: 10px; /* Espacio entre el logo y el texto */
          width: 50px; /* Ajusta el ancho según sea necesario */
          height: auto; /* Mantiene la proporción de la imagen */
      }
        .logo-header {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: black;
            font-size: 24px;
            font-weight: bold;
        }
        .logo-header span {
            color: #1100ff; /* Puedes cambiar el color según tu preferencia */
        }
       
      
    .header-wrap{
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      background-color: #209bff;
      z-index: 999;
    }
     
    .nav-header{
      display: flex;
      align-items: center;
      width: 100%;
    }
     
    .nav-wrap-header{
      display: flex;
      flex-basis: 50%;
    }
     
    ul.main-menu{
      display: flex;
      width: 100%;
      z-index: 99;
      margin: 0;
      padding: 0;
      justify-content: space-between;
      font-size: 1.1rem;
    }
     
    ul.main-menu #nav-main-contact{
      display: flex;
      align-items: center;
      padding: .5rem 1rem;
      background-color: #FFC300;
      color: #fff;
    }
     
    li.menu-item{
      margin: .75rem;
      display: flex;
    }
     
    li.menu-item a{
      padding: .5rem 1rem;
      color: #222;
    }
     
    li.menu-item a:hover{
      color: #FFC300;
    }
     
    i.toggle-menu{
      display: none;
      background-color: #fff;
      border: none;
      z-index: 9999;
    }
     
    i.toggle-menu img{
      width: 27px;
      z-index: 99;
    }
     
    input#check{
      display: none;
    }
    @media (min-width:880px){
      .header-wrap{
        padding: .5rem 5rem;
      }
    }
     
    @media (max-width:768px){
      header{
        margin-bottom: 4rem;
      }
      .header-wrap{
        position: fixed;
        width: 100%;
        background-color: #fff;
        padding: 0;
        top: 0;
        z-index: 9999;
        height: 60px;
      }
      .wrap-logo-header{
        position: fixed;
        z-index: 999;
        top: 3%;
        left: 3%;
      }
      i.toggle-menu{
        display: flex;
      }
      ul.main-menu,#nav-main-contact{
        display: none;
        left: 0;
        margin: 0;
        padding: 0;
      }
      ul.main-menu{
        position: fixed;
        background-color: #fff;
      }
      label.checkbtn{
        position: fixed;
        right: 3%;
        top: 3%;
        z-index: 9999;
      }
      #check:checked ~ ul{
        display: flex;
        z-index: 9;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        top: 0;
        font-size: 2rem;
      }
     
    }
  